<!DOCTYPE html>
<html>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script>               
        window.onload = function(){
            //window.print();
        };                
</script>
<style>
    @media print {
        .noprint { display: none; }
        }
</style>
</head>
<body style="font-family:Arial;font-size:12px">
<input class='noprint' type='button' value='Print' onclick='window.print()' />
<div style="width:590pt!important;">                            
<div align="center"><img src="[logopath]" style="height:55px;"/></div>
    <table style="width:790px">
        <tr >
            <td align="center">
                <span style="font-size:10px">
                    Medical Clinic and Diagnostic Center, Inc.<br>[address]<br>
                    www.wellpointmedicalclinic.com  /  www.wellpointmedicalclinic.ph
                </span>
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td align="center"><span style="font-size:150%;font-weight:bold">PATIENT CENSUS</span></td></tr>
        <tr><td align="center"><span style="font-size:120%;font-weight:bold"><u>[datefrom] - [dateto]</u></span></td></tr>
        <tr><td>&nbsp;</td></tr>
    </table>
</div>
<br/>
<div style="width:590pt!important;" align="center">
<table cellspacing="0" cellpadding="3" border="1" style="width:590pt!important">
    <thead>
        <tr>
            <td></td>
            <td align="center"><span style="font-weight:bold">NEW<br/>WALK IN</span></td>
            <td align="center"><span style="font-weight:bold">OLD<br/>WALK IN</span></td>
            <td align="center"><span style="font-weight:bold">NEW<br/>HMO</span></td>
            <td align="center"><span style="font-weight:bold">OLD<br/>HMO</span></td>
            <td align="center"><span style="font-weight:bold">TOTAL</span></td>
        </tr>
    </thead>
    <tbody>
        [data]
        <tr>
            <td><span style="font-weight:bold">TOTAL</span></td>
            <td align="center"><span style="font-weight:bold">[TotalNW]</span></td>
            <td align="center"><span style="font-weight:bold">[TotalOW]</span></td>
            <td align="center"><span style="font-weight:bold">[TotalNH]</span></td>
            <td align="center"><span style="font-weight:bold">[TotalOH]</span></td>
            <td align="center"><span style="font-weight:bold">[Total]</span></td>
        </tr>
    </tbody>
</table>
<br/><br/>
<table cellspacing="0" cellpadding="3" style="width:590pt!important">
    <tbody>
        <tr>
            <td style="width:375px">Prepared by:</td>
            <td>Checked by:</td>
        </tr>
        <tr>
            <td colspan="6"><br/></td>
        </tr>
        <tr>
            <td>[preparedby]</td>
            <td>[checkedby]</td>
        </tr>
        <tr>
            <td>[preparedbytitle]</td>
            <td>[checkedbytitle]</td>
        </tr>
    </tbody>
</table>
<br/>
<p style="text-align:left;font-size:10px">cc. President/Medical Director/Nurse Station/File</p>
</div>
</body>
</html>